.about#about.block
  //-! ABOUT ME SECTION
  .section-inner.resume
    .title
      h3 About Me
    .text  
      | I'm  
      b Ahmed Allam  
      | , a  
      b Full Stack .NET Developer  
      |  with expertise in both  
      b Front-End  
      | and  
      b Back-End  
      | development. With a strong foundation in  
      b HTML, CSS, SCSS, JavaScript, TypeScript, jQuery, Bootstrap, PugJs, GulpJs, 
      | I create visually appealing, high-performance, and  
      b SEO-optimized  
      | web applications.  
      br  
      br  
      | On the  
      b Back-End  
      | , I specialize in  
      b .NET development  
      | and  
      b ADO.NET (disconnected architecture)  
      | with  
      b MS SQL  
      | , ensuring efficient, scalable, and secure data management. My experience includes working on  
      b over 15 projects  
      | , contributing  
      b 1,500+ coding hours  
      | , and continuously refining my skills to deliver innovative and user-friendly solutions.  
      br  
      br  
      | Currently, I am a  
      b Trainee at ITI, ITIDA, ALX Africa,  
      | and  
      b DEPI  
      | , where I am enhancing my technical skills and gaining real-world experience. Passionate about  
      b problem-solving, clean code,  
      | and  
      b optimization,  
      | I strive to create efficient and user-friendly web applications while continuously learning and growing as a developer.  

    .details
      ul.row
        li.col-lg-6.col-md-12.col-sm-12
          span Name:
          span Ahmed Allam
        li.col-lg-6.col-md-12.col-sm-12
          span Age:
          span#year 20
        li.col-lg-6.col-md-12.col-sm-12
          span Country:
          span Egypt
        li.col-lg-6.col-md-12.col-sm-12
          span Job:
          span Web Developer
        li.col-lg-6.col-md-12.col-sm-12
          span Phone:
          span 
            a(href="https://wa.me/201200555290" target="_blank" class="line-effect" aria-label="Contact us on WhatsApp at +20 120 055 5290" rel="noopener noreferrer").line-effect +20 120 055 5290
        li.col-lg-6.col-md-12.col-sm-12
          span Email:
          span 
            a(href="mailto:ahmedallam.fullstack@gmail.com?subject=Potential%20Collaboration&body=I%20would%20like%20to%20discuss%20your%20latest%20projects%20and%20explore%20how%20we%20can%20work%20together." aria-label="Send an email to ahmedallam.fullstack@gmail.com for potential collaboration").line-effect allam@gmail.com
        li.col-lg-6.col-md-12.col-sm-12
          span Freelance:
          span Available
      ._button
        a(href="assets/pdf/AHMED ALLAM.pdf" download aria-label="Download Ahmed Allam's PDF")
          span.back Download CV
          span.front Download CV
  //-! KNOWLEGDE SECIION
  include resume
  //-! TIMELINE SECIION
  include timeline
