.Resume
  .about#about
    //-! ABOUT ME SECTION
    .section-inner.resume
      .title
        h3 About Me
      .text
        | Hello! I’m Ahmed Allam, a passionate front-end developer and second-year student in Computer and Control System Engineering. At 20 years old, I specialize in creating dynamic, user-friendly web experiences using HTML, CSS, JavaScript, Sass, and Bootstrap. I focus on blending creativity with functionality, ensuring that every project is both visually compelling and optimized for performance.
        | 
        | Driven by a love for innovation, I continually refine my skills to stay ahead of industry trends. Whether it’s building responsive layouts, improving UI, or exploring new technologies, I aim to create impactful digital solutions. As a detail-oriented problem solver, I thrive in both team and solo projects, and I’m committed to contributing to the future of web development.
        | 
        | Let’s connect and bring ideas to life through design and technology!
      .details
        ul.row
          li.col-lg-6.col-md-12
            span Name:
            span Ahmed Allam
          li.col-lg-6.col-md-12
            span Age:
            span 20
          li.col-lg-6.col-md-12
            span Country:
            span Egypt
          li.col-lg-6.col-md-12
            span Job:
            span Web Developer
          li.col-lg-6.col-md-12
            span Phone:
            span 
              a(href="https://wa.me/201200555290" target="_blank").line-effect +20 120 055 5290
          li.col-lg-6.col-md-12
            span Email:
            span 
              a(href="mailto:ahmallam@std.mans.edu.eg?subject=Potential%20Collaboration&body=I%20would%20like%20to%20discuss%20your%20latest%20projects%20and%20explore%20how%20we%20can%20work%20together.").line-effect allam@gmail.com
          li.col-lg-6.col-md-12
            span Website:
            span 
              a(href="https://gzixnine.github.io/Portfolio/public/" target="_blank").line-effect allam.netlify.com
          li.col-lg-6.col-md-12
            span Freelance:
            span Available
        ._button
          a(href="assets/pdf/AHMED ALLAM.pdf" download)
            span.back Download CV
            span.front Download CV
    //-! KNOWLEGDE SECIION
    .section-inner.knowledge
      .title
        h3 Knowledge
      .container-fluid
        .row
          .col-lg-6.col-md-6.col-sm-12.section1
            .title-section.heading Programming Skills
            .row
              .col-lg-6.col-md-12.front
                .title-section Front-end Skills
                ul.skills
                  li HTML5
                  li CSS3
                  li JS / ES6
                  li Bootstrap5
                  li SCSS
                  li PugJs
                  li GulpJS
                  li jQuery
              .col-lg-6.col-md-12.back
                .title-section Back-end Skills
                ul.skills
                  li C#
                  li OOP
                  li Data Structures
                  li Algorithms
                  li SQL Server
          .col-lg-6.col-md-6.col-sm-12.section2
            .lang-section
              .title-section Language Skills
              ul.skills
                li Arabic
                li English
                li Deutsch
            .soft-section
              .title-section Soft Skills
              ul.skills
                li Problem Solving
                li Teamwork
                li Time Management
                li Communication
                li Creativity
                li Adaptability
                li Attention to Detail
    //-! Additional SECIION
    .section-inner.additional
      .title
        h3 Additional Information
      .container-fluid
        .row
          .col-lg-6.col-md-12
            .title-section Libraries
            ul.skills
              li Isotope
              li Particles
              li Textition
              li Vanilla-tilt
              li wow
              li Swiper
              li Owl Carousel
              li AOS
              li EmailJs
          .col-lg-6.col-md-12.section2
            .lang-section
              .title-section superficial knowledge
              ul.skills
                li Typescript
                li Tailwand CSS
                li Angular 2+
            .title-section Working Experience
            ul.skills
              li +20 Project
              li +1000 Hour Of Coding
              li +15 Programming Language
    //-! TimeLine SECIION
    .section-inner.timeline
      .title
        h3 Timeline
      .container-fluid
        .contents
          .year 2022 - Present
          .clearfix
          .boxes.left
            .content
              h4 University
              p Faculty of Engineering 
                a(href="https://www.linkedin.com/school/mansoura-university-official/" target="_blank").line-effect Mansoura University, 
                |  Department of Computer and Control System Engineering (CSE)
          .clearfix
          .year 2024 - Present
          .boxes.right
            .content
              h4 Internship
              p Trainee Full Stack .NET Web Developer at 
                a(href="https://www.linkedin.com/company/digital-egypt-pioneers-initiative-depi/" target="_blank").line-effect DEPI
          .clearfix
          .boxes.left
            .content
              h4 Internship
              p Trainee Front-End Web Developer at 
                a(href="https://www.linkedin.com/company/alxafrica/" target="_blank").line-effect ALX Africa.
          .clearfix
  .service#services
    .section-inner
      .title
        h3 Top Notch Services
      .container
        ul.row
          li.col-lg-6.col-md-12
            .list_inner
              img.svg(src="assets/images/icons/structure.png" alt="")
              h3.title-section Creative Design
              .list
                ul
                  li 
                    span Figma Design
                  li 
                    span PSD Design
                  li 
                    span Sketch Design
          li.col-lg-6.col-md-12
            .list_inner
              img.svg(src="assets/images/icons/seo.png" alt="")
              h3.title-section SEO Optimization
              .list
                ul
                  li 
                    span SEO Website
                  li 
                    span Code Validation
                  li 
                    span GTmetrix Pro

    .section-inner
      .title
        h3 Services
      .container
        p.section-description Choose a package that best fits your needs and enjoy premium benefits with transparent pricing.
        .row
          // Service 1
          .col-lg-4.col-md-6.service-card
            .service-header.basic
              h3 Basic Plan
              p.price $50/month
            .service-content
              ul.benefits
                li ✔ Responsive Design
                li ✔ Cross-Browser Compatibility
                li ✔ Basic SEO Optimization
                li ✔ Support for 1 Project

          // Service 2
          .col-lg-4.col-md-6.service-card
            .service-header.pro
              h3 Pro Plan
              p.price $100/month
            .service-content
              ul.benefits
                li ✔ Everything in Basic Plan
                li ✔ Custom Animations
                li ✔ Advanced SEO Tools
                li ✔ Support for 3 Projects

          // Service 3
          .col-lg-4.col-md-6.service-card
            .service-header.premium
              h3 Premium Plan
              p.price $200/month
            .service-content
              ul.benefits
                li ✔ Everything in Pro Plan
                li ✔ Full-Stack Development
                li ✔ Ongoing Maintenance
                li ✔ Priority Support
  .portfolioe#portfolio
    //-! PORTFOLIO SECTION
    .section-inner
      .title
        h3 Creative Portfolio
      .container
        .taskbar
          ul.buttons
            li.button.all ALL
            li.button.it IT 
            li.button.design Design
            li.button.saas SaaS
            li.button.dash Dashboard
            li.button.games Games
            li.button.industry Industry
        .projects

  .contact#contact
    //-! CONTACT ME SECTION
    img(src="assets/images/404-ERROR.jpg" alt="")