.about#about
  .section-inner
    .title
      h3 About Me
    .text Eager front-end developer focused on native technologies, passionate about learning and gaining practical experience in web development, while being a problem solver with a keen interest in new technologies and the ability to work efficiently in diverse team environments or independently with little to no supervision.
    .details
      ul.row
        li.col-lg-6.col-md-12
          span Name:
          span Ahmed Allam
        li.col-lg-6.col-md-12
          span Age:
          span 20
        li.col-lg-6.col-md-12
          span Country:
          span Egypt
        li.col-lg-6.col-md-12
          span Job:
          span Web Developer
        li.col-lg-6.col-md-12
          span Phone:
          span 
            a(href="#").line-effect +20 120 055 5290
        li.col-lg-6.col-md-12
          span Email:
          span 
            a(href="#").line-effect allam@gmail.com
        li.col-lg-6.col-md-12
          span Website:
          span 
            a(href="#").line-effect allam-notify.com
        li.col-lg-6.col-md-12
          span Freelance:
          span Available
      ._button
        a(href="assets/pdf/AHMED ALLAM.pdf" download)
          span.back Download CV
          span.front Download CV

