.Resume
  .about#about
    //-! ABOUT ME SECTION
    .section-inner.resume
      .title
        h3 About Me
      .text Hello! I’m Ahmed Allam, a passionate front-end developer and second-year student in Computer and Control System Engineering. At 
        span#year 20 
        |  years old, I specialize in creating dynamic, user-friendly web experiences using HTML, CSS, JavaScript, Sass, and Bootstrap. I focus on blending creativity with functionality, ensuring that every project is both visually compelling and optimized for performance. Driven by a love for innovation, I continually refine my skills to stay ahead of industry trends. Whether it’s building responsive layouts, improving UI, or exploring new technologies, I aim to create impactful digital solutions. As a detail-oriented problem solver, I thrive in both team and solo projects, and I’m committed to contributing to the future of web development. Let’s connect and bring ideas to life through design and technology!
      .details
        ul.row
          li.col-lg-6.col-md-12
            span Name:
            span Ahmed Allam
          li.col-lg-6.col-md-12
            span Age:
            span#year 20
          li.col-lg-6.col-md-12
            span Country:
            span Egypt
          li.col-lg-6.col-md-12
            span Job:
            span Web Developer
          li.col-lg-6.col-md-12
            span Phone:
            span 
              a(href="https://wa.me/201200555290" target="_blank").line-effect +20 120 055 5290
          li.col-lg-6.col-md-12
            span Email:
            span 
              a(href="mailto:ahmallam@std.mans.edu.eg?subject=Potential%20Collaboration&body=I%20would%20like%20to%20discuss%20your%20latest%20projects%20and%20explore%20how%20we%20can%20work%20together.").line-effect allam@gmail.com
          li.col-lg-6.col-md-12
            span Freelance:
            span Available
        ._button
          a(href="assets/pdf/AHMED ALLAM.pdf" download)
            span.back Download CV
            span.front Download CV
    //-! KNOWLEGDE SECIION
    include resume
    //-! TIMELINE SECIION
    include timeline
