.aside
  .header
    h1.header-logo Allam
  .links 
    ul
      li.homes.active: a(href="#home" data-scroll="home") Home
      li.abouts: a(href="#about" data-scroll="about") About
      li.services: a(href="#services" data-scroll="services") Services
      li.portfolio: a(href="#portfolio" data-scroll="portfolio") Portfolio
      li.certificates: a(href="#certificates" data-scroll="certificates") Certificates
      li.blog: a(href="#blog" data-scroll="blog") Blog
      li.contact: a(href="#contact" data-scroll="contact") Contact
  .copyright 
    | Copyright © 2024 by 
    a(href="https://github.com/GziXnine" target="_blank").line-effect GziXnine
    br
    | All rights are reserved
  .social
    ul
      li: a(href="https://github.com/GziXnine" target="_blank"): i.fa-brands.fa-github
      li: a(href="https://t.me/GziXnine" target="_blank"): i.fa-brands.fa-telegram
      li: a(href="https://www.linkedin.com/in/1ahmed-allam" target="_blank"): i.fa-brands.fa-linkedin
