.aside
  .header
    h1.header-logo Allam
  .links 
    ul
      li.homes: a(href="#home" class="active" aria-label="Go to Home section") Home
      li.abouts: a(href="#about" aria-label="Go to About section") About
      //- li.services: a(href="#services" aria-label="Go to Services section") Services
      li.portfolio: a(href="#portfolio" aria-label="Go to Portfolio section") Portfolio
      li.certificates: a(href="#certificates" aria-label="Go to Certificates section") Certificates
      li.blog: a(href="#blog" aria-label="Go to Blog section") Blog
      li.contact: a(href="#contact" aria-label="Go to Contact section") Contact
  .copyright 
    | Copyright © 2024 by 
    a(href="https://github.com/GziXnine" target="_blank" aria-label="Visit GziXnine's GitHub profile").line-effect GziXnine
    br
    | All rights are reserved
  .social
    ul
      li 
        a(href="https://github.com/GziXnine" target="_blank" aria-label="Visit GziXnine's GitHub profile")
          i.fa-brands.fa-github
      li
        a(href="https://t.me/GziXnine" target="_blank" aria-label="Visit GziXnine's Telegram profile")
          i.fa-brands.fa-telegram
      li
        a(href="https://www.linkedin.com/in/1ahmed-allam" target="_blank" aria-label="Visit GziXnine's LinkedIn profile")
          i.fa-brands.fa-linkedin
