.blogs#blog
  .section-inner
    .title
      h3 Recent Posts
    .bloge
      .posters
        .row
          .col-lg-6.col-md-6.col-sm-12.img
            img(src="assets/images/blogs/seo.jpeg" alt="Blog 1" loading="lazy" )
          .col-lg-6.col-md-6.col-sm-12.titles
            h4.by By
              span.user.line-effect Ahmed Allam
              span.in In 
              span.about.line-effect SEO & HTML
            br
            p.text_hover_effect  Learn how to optimize it for better search rankings.
            ._button
              a()
                span.back Read More
                span.front Read More
    .bloge
      .posters
        .row
          .col-lg-6.col-md-6.col-sm-12.img
            img(src="assets/images/blogs/TSvsJS.jpeg" alt="Blog 1" loading="lazy" )
          .col-lg-6.col-md-6.col-sm-12.titles
            h4.by By
              span.user.line-effect Ahmed Allam
              span.in In 
              span.about.line-effect Typescript & Javascript
            br
            p.text_hover_effect Mastering TypeScript & JavaScript: Enhancing Web Development with Powerful Tools
            ._button
              a()
                span.back Read More
                span.front Read More
    .bloge
      .posters
        .row
          .col-lg-6.col-md-6.col-sm-12.img
            img(src="assets/images/blogs/libarary.jpeg" alt="Blog 1" loading="lazy" )
          .col-lg-6.col-md-6.col-sm-12.titles
            h4.by By
              span.user.line-effect Ahmed Allam
              span.in In 
              span.about.line-effect Libraries In CSS
            br
            p.text_hover_effect Exploring the Power of CSS Libraries: Boost Your Web Development Efficiency"
            ._button
              a()
                span.back Read More
                span.front Read More