.certificate#certificates.block
  .section-inner
    .title
      h3 Technical Certificates
    .certificates
      .row
        .col-lg-6.col-md-6.col-sm-12
          .img
            img(src="assets/images/certificate/Learn_Html_CSS.webp" alt="" loading="lazy" data-tilt)
        .col-lg-6.col-md-6.col-sm-12
          .img
            img(src="assets/images/certificate/github.webp" alt="" loading="lazy" data-tilt)
  .section-inner
    .title
      h3 non-Technical Certificates
    .certificates
      .row
        .col-lg-6.col-md-6.col-sm-12
          .img
            img(src="assets/images/certificate/Youth.webp" alt="" loading="lazy" data-tilt)
        .col-lg-6.col-md-6.col-sm-12
          .img
            img(src="assets/images/certificate/Basics_Freelance.webp" alt="" loading="lazy" data-tilt)
        .col-lg-6.col-md-6.col-sm-12
          .img
            img(src="assets/images/certificate/Upwork.webp" alt="" loading="lazy" data-tilt)
