ul.dmenu.scroll-nav.d-flex
  li
    a.scroll-to.active(href="#home" data-scroll="home")
      span Home
      img(src="assets/images/icons/home.png" alt="" loading="lazy")
  li
    a.scroll-to(href="#about" data-scroll="about")
      span About
      img(src="assets/images/icons/user.png" alt="" loading="lazy")
  li
    a.scroll-to(href="#services" data-scroll="services")
      span Services
      img(src="assets/images/icons/support.png" alt="" loading="lazy")
  li
    a.scroll-to(href="#portfolio" data-scroll="portfolio")
      span Portfolio
      img(src="assets/images/icons/portfolio.png" alt="" loading="lazy")
  li
    a.scroll-to(href="#certificates" data-scroll="certificates")
      span Certificates
      img(src="assets/images/icons/certificate.png" alt="" loading="lazy")
  li
    a.scroll-to(href="#blog" data-scroll="blog")
      span Blog
      img(src="assets/images/icons/blog.png" alt="" loading="lazy")
  li
    a.scroll-to(href="#contact" data-scroll="contact")
      span Contact
      img(src="assets/images/icons/contact.png" alt="" loading="lazy")
