ul.dmenu.scroll-nav.d-flex
  li
    a(href="#home" aria-label="Go to Home section")
      span Home
      img(src="assets/images/icons/home.webp" alt="Home icon" loading="lazy")
  li
    a(href="#about" aria-label="Go to About section")
      span About
      img(src="assets/images/icons/user.webp" alt="User icon" loading="lazy")
  //- li
  //-   a(href="#services" aria-label="Go to Services section")
  //-     span Services
  //-     img(src="assets/images/icons/support.webp" alt="Support icon" loading="lazy")
  li
    a(href="#portfolio" aria-label="Go to Portfolio section")
      span Portfolio
      img(src="assets/images/icons/portfolio.webp" alt="Portfolio icon" loading="lazy")
  li
    a(href="#certificates" aria-label="Go to Certificates section")
      span Certificates
      img(src="assets/images/icons/certificate.webp" alt="Certificate icon" loading="lazy")
  //- li
  //-   a(href="#blog" aria-label="Go to Blog section")
  //-     span Blog
  //-     img(src="assets/images/icons/blog.webp" alt="Blog icon" loading="lazy")
  li
    a(href="#contact" aria-label="Go to Contact section")
      span Contact
      img(src="assets/images/icons/contact.webp" alt="Contact icon" loading="lazy")
