.allam#home.block
  section.home
    .avatar
      img(src="assets/images/profile/profile.webp" alt="profile-picture")
    .name
      h2 Ahmed Allam
    .animateText
      span Front end Developer
      span Back end Developer
      span SEO Optimizer