.allam#home
  section.home
    .avatar
      img(src="https://avatars.githubusercontent.com/u/60698204?v=4" alt="profile-picture" loading="lazy")
    .name
      h2 Ahmed Allam
    .animateText
      span Front end Developer
      span Back end Developer
      span SEO Optimizer
      span Competitive Programmer