.portfolioe#portfolio.block
  .section-inner
    .title
      h3 Creative Portfolio
    .container
      .taskbar
        .buttons
          button.all.filter.active(data-filter=".all") ALL
          button.it.filter(data-filter=".it") IT 
          button.design.filter(data-filter=".design") Design
          button.saas.filter(data-filter=".saas") SaaS
          button.dash.filter(data-filter=".dash") Dashboard
          button.games.filter(data-filter=".games") Games
          button.industry.filter(data-filter=".industry") Industry
      .protfolio-container
        .row
          .col-lg-6.col-md-6.col-sm-12.data.it.all
            span.name.line-effect It Solutions
            .img
              img(src="assets/images/projects/landing3.webp" alt="It Solutions project screenshot" loading="lazy")
            span 
              a(href="https://github.com/GziXnine/Techvio" target="_blank" aria-label="View Techvio repo on GitHub").repo Repo
              a(href="https://gzixnine.github.io/Techvio/dist/landing3.html" target="_blank" aria-label="View Techvio demo").review Demo
          .col-lg-6.col-md-6.col-sm-12.data.it.all
            span.name.line-effect It Solutions
            .img
              img(src="assets/images/projects/landing2.webp" alt="It Solutions project screenshot" loading="lazy")
            span 
              a(href="https://github.com/GziXnine/Techvio" target="_blank" aria-label="View Techvio repo on GitHub").repo Repo
              a(href="https://gzixnine.github.io/Techvio/dist/landing2.html" target="_blank" aria-label="View Techvio demo").review Demo
          .col-lg-6.col-md-6.col-sm-12.data.design.all
            span.name.line-effect Design Template
            .img
              img(src="assets/images/projects/Allam.webp" alt="Design Template screenshot" loading="lazy")
            span 
              a(href="https://github.com/GziXnine/Template_Three" target="_blank" aria-label="View Template Three repo on GitHub").repo Repo
              a(href="https://gzixnine.github.io/Template_Three/" target="_blank" aria-label="View Template Three demo").review Demo
          .col-lg-6.col-md-6.col-sm-12.data.it.all
            span.name.line-effect It Solutions
            .img
              img(src="assets/images/projects/landing4.webp" alt="It Solutions project screenshot" loading="lazy")
            span 
              a(href="https://github.com/GziXnine/Techvio" target="_blank" aria-label="View Techvio repo on GitHub").repo Repo
              a(href="https://gzixnine.github.io/Techvio/dist/landing4.html" target="_blank" aria-label="View Techvio demo").review Demo
          .col-lg-6.col-md-6.col-sm-12.data.design.all
            span.name.line-effect Timer Template
            .img
              img(src="assets/images/projects/Banner.webp" alt="Timer Template screenshot" loading="lazy")
            span 
              a(href="https://github.com/GziXnine/Timer" target="_blank" aria-label="View Timer repo on GitHub").repo Repo
              a(href="https://gzixnine.github.io/Timer/" target="_blank" aria-label="View Timer demo").review Demo
          .col-lg-6.col-md-6.col-sm-12.data.it.all
            span.name.line-effect It Solutions
            .img
              img(src="assets/images/projects/landing5.webp" alt="It Solutions project screenshot" loading="lazy")
            span 
              a(href="https://github.com/GziXnine/Techvio" target="_blank" aria-label="View Techvio repo on GitHub").repo Repo
              a(href="https://gzixnine.github.io/Techvio/dist/landing5.html" target="_blank" aria-label="View Techvio demo").review Demo
          .col-lg-6.col-md-6.col-sm-12.data.industry.all
            span.name.line-effect Allam Marine Design
            .img
              img(src="assets/images/projects/AllamMarine.webp" alt="Allam Marine Design project screenshot" loading="lazy")
            span 
              a(href="https://github.com/GziXnine/Allam_Marine_Design" target="_blank" aria-label="View Allam Marine Design repo on GitHub").repo Repo
              a(href="https://gzixnine.github.io/Allam_Marine_Design/" target="_blank" aria-label="View Allam Marine Design demo").review Demo
          .col-lg-6.col-md-6.col-sm-12.data.it.all
            span.name.line-effect It Solutions
            .img
              img(src="assets/images/projects/landing1.webp" alt="It Solutions project screenshot" loading="lazy")
            span 
              a(href="https://github.com/GziXnine/Techvio" target="_blank" aria-label="View Techvio repo on GitHub").repo Repo
              a(href="https://gzixnine.github.io/Techvio/dist/" target="_blank" aria-label="View Techvio demo").review Demo
          .col-lg-6.col-md-6.col-sm-12.data.design.all
            span.name.line-effect Design Template
            .img
              img(src="assets/images/projects/Bannerdesign.webp" alt="Design Template screenshot" loading="lazy")
            span 
              a(href="https://github.com/GziXnine/Special_Design" target="_blank" aria-label="View Special Design repo on GitHub").repo Repo
              a(href="https://gzixnine.github.io/Special_Design/" target="_blank" aria-label="View Special Design demo").review Demo
          .col-lg-6.col-md-6.col-sm-12.data.games.all
            span.name.line-effect Guess The Word
            .img
              img(src="assets/images/projects/bannerguess.webp" alt="Guess The Word game screenshot" loading="lazy")
            span 
              a(href="https://github.com/GziXnine/Guess_Word" target="_blank" aria-label="View Guess The Word repo on GitHub").repo Repo
              a(href="https://gzixnine.github.io/Guess_Word/" target="_blank" aria-label="View Guess The Word demo").review Demo
          //- .col-lg-6.col-md-6.col-sm-12.data.design.all
          //-   span.name.line-effect Design Template
          //-   .img
          //-     img(src="assets/images/projects/Bondi.webp" alt="Design Template screenshot" loading="lazy")
          //-   span 
          //-     a(href="https://github.com/GziXnine/Design_Bondi_Bootstrap5" target="_blank" aria-label="View Design Bondi Bootstrap5 repo on GitHub").repo Repo
          //-     a(href="https://gzixnine.github.io/Design_Bondi_Bootstrap5/" target="_blank" aria-label="View Design Bondi Bootstrap5 demo").review Demo
          .col-lg-6.col-md-6.col-sm-12.data.dash.all
            span.name.line-effect Dashboard Template
            .img
              img(src="assets/images/projects/DarkMode.webp" alt="Dashboard Template screenshot" loading="lazy")
            span 
              a(href="https://github.com/GziXnine/Dashboard" target="_blank" aria-label="View Dashboard repo on GitHub").repo Repo
              a(href="https://gzixnine.github.io/Dashboard/" target="_blank" aria-label="View Dashboard demo").review Demo
          .col-lg-6.col-md-6.col-sm-12.data.design.it.all
            span.name.line-effect Design Template
            .img
              img(src="assets/images/projects/Kasper.webp" alt="Design Template screenshot" loading="lazy")
            span 
              a(href="https://github.com/GziXnine/Template_Two" target="_blank" aria-label="View Template Two repo on GitHub").repo Repo
              a(href="https://gzixnine.github.io/Template_Two/" target="_blank" aria-label="View Template Two demo").review Demo
          .col-lg-6.col-md-6.col-sm-12.data.industry.it.all
            span.name.line-effect It Solutions
            .img
              img(src="assets/images/projects/landing.webp" alt="It Solutions project screenshot" loading="lazy")
            span 
              a(href="https://github.com/GziXnine/Technoit" target="_blank" aria-label="View Technoit repo on GitHub").repo Repo
              a(href="https://gzixnine.github.io/Technoit/" target="_blank" aria-label="View Technoit demo").review Demo
          //- .col-lg-6.col-md-6.col-sm-12.data.industry.all
          //-   span.name.line-effect Design Template
          //-   .img
          //-     img(src="assets/images/projects/Leon.webp" alt="Design Template screenshot" loading="lazy")
          //-   span 
          //-     a(href="https://github.com/GziXnine/Template_One" target="_blank" aria-label="View Template One repo on GitHub").repo Repo
          //-     a(href="https://gzixnine.github.io/Template_One/" target="_blank" aria-label="View Template One demo").review Demo
          //- .col-lg-6.col-md-6.col-sm-12.data.all
          //-   span.name.line-effect To Do List
          //-   .img
          //-     img(src="assets/images/projects/ToDo.webp" alt="" loading="lazy")
          //-   span 
          //-     a(href="https://github.com/GziXnine/To_Do_List" target="_blank" aria-label="View Template One repo on GitHub").repo Repo
          //-     a(href="https://gzixnine.github.io/To_Do_List/" target="_blank" aria-label="View To Do List demo").review Demo
          .col-lg-6.col-md-6.col-sm-12.data.saas.it.all
            span.name.line-effect SaaS Template
            .img
              img(src="assets/images/projects/Saas.webp" alt="" loading="lazy")
            span 
              a(href="https://github.com/GziXnine/SaaSpal" target="_blank" aria-label="View Template One repo on GitHub").repo Repo
              a(href="https://gzixnine.github.io/SaaSpal/dist/" target="_blank" aria-label="View SaaSpal demo").review Demo