.section-inner.knowledge
  .title
    h3 Knowledge
  .container-fluid
    .row
      .col-lg-6.col-md-6.col-sm-12.section1
        .title-section.heading Programming Skills
        .row
          .col-lg-6.col-md-6.col-sm-6.front
            .title-section Front-end Skills
            ul.skills
              li HTML5
              li CSS3
              li JS / ES6
              li Bootstrap5
              li SCSS
              li PugJs
              li GulpJS
              li jQuery
          .col-lg-6.col-md-6.col-sm-6.back
            .title-section Back-end Skills
            ul.skills
              li C#
              li OOP
              li Data Structures
              li Algorithms
              li SQL Server
      .col-lg-6.col-md-6.col-sm-12.section2
        .row
          .col-lg-12.col-md-6.col-sm-6.lang-section
            .title-section.heading Language Skills
            ul.skills
              li Arabic
              li English
              li Deutsch
          .col-lg-12.col-md-6.col-sm-6.soft-section
            .title-section.heading Soft Skills
            ul.skills
              li Problem Solving
              li Teamwork
              li Time Management
              li Communication
              li Creativity
              li Adaptability
              li Attention to Detail
//-! Additional SECIION
.section-inner.additional
  .title
    h3 Additional Information
  .container-fluid
    .row
      .col-lg-6.col-md-6.col-sm-12.add1
        .title-section.heading Libraries
        .row
          ul.skills.col-lg-6.col-md-6.col-sm-12
            li Isotope
            li Particles
            li Textition
            li Vanilla-tilt
            li Wow
            li Swiper
          ul.skills.col-lg-6.col-md-6.col-sm-12
            li Owl Carousel
            li AOS
            li EmailJs
            li Imagesloaded
            li Gsap
            li Lenis
      .col-lg-6.col-md-6.col-sm-12.section2.add2
        .lang-section
          .title-section.heading superficial knowledge
          ul.skills
            li Typescript
            li Tailwand CSS
            li Angular 2+
        .title-section.heading Working Experience
        ul.skills
          li +20 Project
          li +1500 Hour Of Coding
          li +15 Programming Language