.section-inner.timeline
  .title
    h3 Timeline
  .container-fluid
    .contents
      .year 2019 - 2021
      .clearfix
      .boxes.left
        .content
          h4 Secondary School
          p 
            a(href="https://www.facebook.com/people/%D9%85%D8%AF%D8%B1%D8%B3%D8%A9-%D8%B7%D9%84%D8%B9%D8%AA-%D8%AD%D8%B1%D8%A8-%D8%A7%D9%84%D8%AB%D8%A7%D9%86%D9%88%D9%8A%D8%A9-%D8%A7%D9%84%D8%B9%D8%B3%D9%83%D8%B1%D9%8A%D8%A9-%D8%A8%D9%86%D9%8A%D9%86-%D8%A8%D8%A7%D9%84%D9%85%D8%AD%D9%84%D8%A9-%D8%A7%D9%84%D9%83%D8%A8%D8%B1%D9%89/100086600982900/?rdid=NFPBjipo5KnWDCdI&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1S8vMR12B3%2F" target="_blank" aria-label="Visit Talaat Harb Military Secondary School's Facebook page").line-effect Talaat Harb, 
            |  Military Secondary School,
            |  Mathematics Section 
      .clearfix
      .year 2022 - Present
      .clearfix
      .boxes.right
        .content
          h4 University
          p Faculty of Engineering 
            a(href="https://www.linkedin.com/school/mansoura-university-official/" target="_blank" aria-label="Visit Mansoura University LinkedIn page").line-effect Mansoura University, 
            |  Department of Computer and Control System Engineering (CSE)
      .clearfix
      .year 24 - 25 Dec 2023 
      .boxes.left
        .content
          h4 Competition
          p Won First Place in the Robo Soccer Competition at 
            a(href="https://www.linkedin.com/company/mansoura-robotics-club/" target="_blank" aria-label="Visit Mansoura Robotics Club LinkedIn page").line-effect Mansoura Robotics Club
      .clearfix
      .year 19 - 20 Aug 2024
      .boxes.right
        .content
          h4 Competition
          p Won First Place in the Robo Soccer Competition at 
            a(href="https://www.linkedin.com/company/mansoura-robotics-club/" target="_blank" aria-label="Visit Mansoura Robotics Club LinkedIn page").line-effect Mansoura Robotics Club
      .clearfix
      .year 2024 - Present
      .boxes.left
        .content
          h4 Internship
          p Trainee Full Stack .NET Web Developer at 
            a(href="https://www.linkedin.com/company/digital-egypt-pioneers-initiative-depi/" target="_blank" aria-label="Visit Digital Egypt Pioneers Initiative LinkedIn page").line-effect DEPI
      .clearfix
      .boxes.right
        .content
          h4 Internship
          p Trainee Front-End Web Developer at 
            a(href="https://www.linkedin.com/company/alxafrica/" target="_blank" aria-label="Visit ALX Africa LinkedIn page").line-effect ALX Africa.
