/** @format */

@use "../utilities/colors" as *;
@use "../utilities/times" as *;

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;

  a {
    color: $main-color;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: $main-color;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: $main-alt-color;
}

.container {
  position: relative;
  @media (min-width: 1440px) {
    max-width: 1400px;
  }

  @media (max-width: 1439px) {
    max-width: 1200px;
    padding: 30px;
  }

  @media (max-width: 1199px) {
    padding: 0px;
  }
}

.line-effect {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: white;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    left: auto;
    right: 0;
    bottom: 3px;
    transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    background: black !important;
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.header-logo {
  font : {
    size: 40px;
    family: "Archivo Black";
  }
  text-transform: uppercase;
  color: black;
}
