/** @format */

@use "../utilities/colors" as *;
@use "../utilities/times" as *;
@use "../utilities/mixins" as *;

.about,
.service,
.portfolioe,
.certificate,
.blogs,
.contacts {
  text-align: left;
  padding-top: 0px;

  @media (min-width: 1440px) {
    padding-top: 40px;
  }

  @media (max-width: 767px) {
    font-size: 15px;
  }

  .resume {
    padding: {
      left: 40px;
      right: 40px;
    }

    @media (max-width: 767px) {
      padding: {
        left: 20px;
        right: 20px;
      }
    }
  }

  .text {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 42px;
    margin-bottom: 39px;
  }

  .details {
    width: 100%;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-left: -20px;

      li {
        width: 50%;
        padding-left: 20px;
        margin-bottom: 5px;

        span:first-child {
          min-width: 120px;
          display: inline-block;

          @media (max-width: 767px) {
            min-width: 60px;
            padding-right: 5px;
          }
        }

        @media (max-width: 480px) {
          width: 100%;

          span:first-child {
            min-width: 0px;
            padding-right: 5px;
          }
        }
      }
    }
  }

  ._button {
    margin-top: 20px;
  }

  .knowledge,
  .additional {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: calc(50% - 0.5px);
      width: 1px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 767px) {
      &:before {
        display: none;
      }
    }
  }

  .knowledge {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: calc(74% - 0.5px);
      width: 1px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      display: none;
    }

    @media only screen and (max-width: 991px) and (min-width: 768px) {
      &::after {
        display: block;
      }
    }
  }

  .knowledge,
  .additional,
  .timeline {
    position: relative;

    @media (max-width: 767px) {
      padding: {
        left: 10px;
        right: 10px;
      }
    }

    .lang-section,
    .soft-section {
      @media (min-width: 767px) {
        display: block;
      }
    }

    .section1 {
      .heading {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      .front,
      .back {
        @media only screen and (max-width: 1920px) and (min-width: 480px) {
          display: inline-block;
          width: 50%;
        }

        @media (max-width: 480px) {
          display: block;
          width: 100%;
        }

        .title-section {
          margin: 10px 0 5px;
        }
      }

      .front {
        position: relative;
        overflow: hidden;

        &::after {
          content: "";
          position: absolute;
          top: 70%;
          right: 10px;
          transform: translateY(-50%);
          width: 1px;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.1);
        }

        @media (max-width: 767px) {
          &::after {
            display: none;
          }
        }
      }
    }

    ul {
      list-style-type: circle;

      li {
        margin-left: 20px;
        font-size: 14px;

        &:hover {
          list-style-type: disc;
          color: black;
        }
      }
    }

    .section2 {
      padding-left: 30px;

      @media (max-width: 767px) {
        padding-left: 10px;
      }

      @media (max-width: 767px) {
        padding: {
          top: 10px;
          bottom: 0px;
        }
        margin-top: 10px;
        border-bottom: none;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }

      .lang-section {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        @media (max-width: 991px) {
          padding-bottom: 0px;
          border-bottom: none;
        }
      }
    }
  }

  .additional {
    @media only screen and (max-width: 767px) and (min-width: 576px) {
      &::before {
        display: block;
      }
    }
    .add1,
    .add2 {
      @media (max-width: 767px) {
        width: 50%;
      }

      @media (max-width: 575px) {
        width: 100%;
      }
    }

    .add2 {
      @media (max-width: 991px) {
        border: none;
        padding-top: 0px;
        padding-left: 20px;
      }

      @media (max-width: 575px) {
        padding-left: 10px;
      }
    }
  }

  .timeline {
    position: relative;

    .contents {
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: #efefef;
        left: 50%;
        margin-left: -1px;
        top: 0;
      }

      .year {
        margin: 10px auto;
        width: fit-content;
        background-color: #efefef;
        position: relative;
        z-index: 2;
        text-align: center;
        color: black;
        padding: 2px 6px;
        border-radius: 2px;
        font: {
          size: 13px;
          weight: 700;
        }
      }

      .clearfix {
        clear: both;
      }

      .content {
        background-color: #eeeeee7a;
        padding: 15px;
        border-radius: 2px;

        h4 {
          font-size: 15px;
          color: black;
          font-weight: 700;
        }

        p {
          color: $main-color;
          margin: 0;
          line-height: 1.6;
          font-size: 15px;
        }
      }

      .left {
        width: calc(50% - 25px);
        margin-bottom: 40px;
        position: relative;
        float: left;

        @media (max-width: 767px) {
          width: 100%;
          margin-top: 30px;
        }

        &::before {
          content: "";
          width: 14px;
          height: 14px;
          background-color: #fff;
          border: 3px solid rgba(0, 0, 0, 0.3);
          position: absolute;
          border-radius: 50%;
          top: 20px;
          right: -32px;

          @media (max-width: 767px) {
            top: -32px;
            right: 44.8%;
            transform: translateX(-50%);
          }
        }

        .content::before {
          width: 0px;
          @include shape("traingle", "right", #eeeeee7a, 22%);

          @media (max-width: 767px) {
            @include shape("traingle", "top", #eeeeee7a, 50%);
          }
        }
      }

      .right {
        width: calc(50% - 25px);
        margin-bottom: 40px;
        position: relative;
        float: right;

        @media (max-width: 767px) {
          width: 100%;
          margin-top: 30px;
        }

        &::before {
          content: "";
          width: 14px;
          height: 14px;
          background-color: #fff;
          border: 3px solid rgba(0, 0, 0, 0.3);
          position: absolute;
          border-radius: 50%;
          top: 20px;
          left: -32px;

          @media (max-width: 767px) {
            top: -32px;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        .content::before {
          @include shape("traingle", "left", #eeeeee7a, 27%);

          @media (max-width: 767px) {
            @include shape("traingle", "top", #eeeeee7a, 50%);
          }
        }
      }
    }
  }
}
