/** @format */

@use "../utilities/colors" as *;
@use "../utilities/times" as *;

.certificate {
  .certificates {
    .img {
      padding: 12px;
      background-color: #eee;
      cursor: pointer;
      margin: {
        top: 10px;
        bottom: 10px;
      }

      img {
        width: 100%;
      }
    }
  }
}
