/** @format */

@use "../utilities/colors" as *;
@use "../utilities/times" as *;

.dmenu {
  flex-direction: column;
  border: 1px solid $main-color;
  border-radius: 30px;
  position: fixed;
  right: 68px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  gap: 10px;
  padding: 24px 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
  z-index: -1;

  @media (max-width: 992px) {
    right: 50px;
  }

  @media (max-width: 768px) {
    top: 90%;
    right: 50%;
    transform: translate(50%, -50%);
    flex-direction: row;
    gap: 0px;
    height: 50px;
    padding: 12px 8px;
  }

  li {
    a {
      display: block;
      position: relative;
      width: 45px;
      transition: 0.3s;
      color: $main-color;
      cursor: pointer;

      img {
        width: 15px;
        height: 15px;
      }

      &.active,
      &:hover {
        span {
          opacity: 1;
          visibility: visible;
        }
      }

      span {
        position: absolute;
        transition: 0.3s;
        font-size: 12px;
        background: #404042;
        right: 100%;
        color: #fff;
        display: block;
        padding: 3px 8px;
        border-radius: 5px;
        visibility: hidden;
        opacity: 0;

        @media (max-width: 768px) {
          transform: rotate(90deg);
          right: -3px;
          top: -50px;
        }

        &::before {
          content: "";
          width: 10px;
          height: 10px;
          background: #404042;
          position: absolute;
          right: -3px;
          top: 50%;
          transform: rotate(54deg) skew(-8deg, -39deg);
          margin-top: -5px;
          z-index: -1;
        }
      }

      &:hover span {
        opacity: 1;
        visibility: visible;
      }
    }

    &:nth-of-type(6) {
      span {
        @media (max-width: 768px) {
          transform: rotate(90deg);
          right: -15px;
          top: -60px;
        }
      }
    }
  }
}
