/** @format */

@use "../utilities/colors" as *;
@use "../utilities/times" as *;
@use "../utilities/mixins" as *;

.service {
  .list_inner {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 40px;

    .list {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding-top: 10px;

      ul {
        list-style-type: circle;

        li {
          font-size: 15px;
          margin: {
            top: 5px;
            bottom: 5px;
            left: 20px;
          }

          &:hover {
            list-style-type: disc;
            color: black;
          }
        }
      }
    }

    img {
      width: 50px;
      margin-bottom: 20px;
    }
  }

  .service-card {
    &:nth-of-type(2) {
      @media (min-width: 768px) {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
      }
      @media (min-width: 992px) {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }

  .service-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: {
      bottom: 20px;
      top: 20px;
    }

    h3 {
      font-size: 17px;
      text-transform: uppercase;
      color: black;
      font-weight: 650;
      padding-bottom: 10px;
    }

    .price {
      font-size: 15px;
      margin-left: 20px;
    }
  }

  .service-content {
    ul {
      li {
        font-size: 14px;
        cursor: pointer;
        transition: $transition2;

        margin: {
          top: 10px;
          bottom: 5px;
        }

        &:hover {
          color: black;
        }
      }
    }
  }
}
