//-! jQuery File
script(src="js/jquery.min.js")
//-! GSAP Library
script(src="js/gsap.min.js")
//-! LENIS Library
script(src="js/lenis.min.js")
//-! Particles Library
script(src="js/particles.min.js")
//-! Textiton Library
script(src="js/textition.min.js")
//-! Sending Email File
script(src="https://cdn.emailjs.com/dist/email.min.js")
//-! Bootstrap 
script( src="js/bootstrap.bundle.min.js")
//-! Isotope Animation
script(src="js/isotope.pkgd.min.js")
//-! Images Loaded Animation
script(src="js/imagesloaded.pkgd.min.js")
//-! Swiper Function
//- TODO script(src="js/owl.carousel.min.js")
//-! This Render Icon As SVG... -->
script(src="js/all.min.js")
//-! jQuery File
script(src="js/plugins.js")
//-! Live Reload
script(src="http://localhost:35729/livereload.js")
//-! Animate CSS Library
//- TODO script(src="js/wow.min.js")
//-! Tilt Animation
script(src="js/vanilla-tilt.min.js")