extends ../layouts/layout

block main
  header
    include ../blocks/header
  main.portfolios
    .container
      .row
        aside.col-lg-3.col-md-12.col-sm-12
          include ../blocks/aside
        section.data.col-lg-9.col-md-12.col-sm-12
          //-! HOME SECIION
          include ../blocks/home
          //-! ABOUT SECIION
          include ../blocks/about
          //-! SERVICES SECTION
          include ../blocks/services
          //-! PORTFOLIO SECTION
          include ../blocks/portfolio
          //-! CERTIFICATES SECTION
          include ../blocks/certificate
          //-! BLOG SECTION
          include ../blocks/blog
          //-! CONTACT SECTION
          include ../blocks/contact

