extends ../layouts/layout

block main
  //-! Preloader
  .preloader
    svg(viewBox="0 0 1000 1000" preserveAspectRatio="none")
      path(id="loader" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z")

    //-! Loader Container
    .loader-container
      .loaded
        span A
        span H
        span M
        span E
        span D
        span 
        span A
        span L
        span L
        span A
        span M

  header.headers
    include ../blocks/header
  main.portfolios
    .container
      .row
        aside.col-lg-3.col-md-12.col-sm-12
          include ../blocks/aside
        section.data.col-lg-9.col-md-12.col-sm-12.cooking
          //-! HOME SECIION
          include ../blocks/home
          //-! ABOUT SECIION
          include ../blocks/about
          //-! SERVICES SECTION
          //- include ../blocks/services
          //-! PORTFOLIO SECTION
          include ../blocks/portfolio
          //-! CERTIFICATES SECTION
          include ../blocks/certificate
          //-! BLOG SECTION
          //- include ../blocks/blog
          //-! CONTACT SECTION
          include ../blocks/contact

