extends ../layouts/layout

block main
  header
    include ../blocks/header
  main.portfolios
    .container
      .row
        aside.col-lg-3.col-md-12.col-sm-12
          include ../blocks/aside
        section.data.col-lg-9.col-md-12.col-sm-12
          include ../blocks/home
          include ../blocks/about

