include ../components/variable

doctype html
head 
  include ../components/meta
  title= pageTitle
  include ../components/styles
  include ../components/fonts
body
  #particles-js
  block main
  include ../components/scripts