include ../components/variable
block variables
  - var fileName = "fileName";
doctype html
html(lang="en")
  head 
    include ../components/meta
    title= pageTitle
    include ../components/styles
    include ../components/fonts
  body
    block content
    block section
    include ../components/scripts