/** @format */

// !Components File
@use "components/global-rules";

// !Layouts File
@use "layouts/home";
@use "layouts/aside";
@use "layouts/header";
@use "layouts/about";
@use "layouts/services";
@use "layouts/portfolio";
@use "layouts/certificate";
@use "layouts/blog";
@use "layouts/contact";

// !Utilities File
@use "utilities/colors" as *;
@use "utilities/times" as *;
@use "utilities/animations";
@use "utilities/functions";
@use "utilities/mixins";

body {
  font-family: "Syne", sans-serif;
  background-color: #eee;
  color: $main-color;
  position: relative;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0px;
  word-wrap: break-word;
  font-weight: 400;
  width: 100%;
  height: 100vh !important;
  z-index: -2;
  overflow: hidden;

  @media (max-width: 1439px) {
    background-color: white;
  }

  #particles-js {
    position: absolute;
    z-index: -3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh !important;
    pointer-events: none;
  }

  .portfolios {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -2;

    aside,
    section.data {
      background-color: white;
      border-radius: 2px;
      text-align: center;

      @media (min-width: 1440px) {
        height: 750px;
        padding: 0 40px;
      }

      @media (max-width: 1439px) {
        padding: 40px;
        height: 570px;
      }

      @media (max-width: 1199px) {
        padding: 0px 40px;
        height: 100vh !important;
      }
    }

    aside {
      width: calc(30% - 20px);
      margin: {
        right: 20px;
      }

      @media (min-width: 1440px) {
        padding: 120px 40px;
      }

      @media (max-width: 1439px) {
        width: calc(30% - 10px);
        margin: {
          right: 10px;
        }
      }

      @media (max-width: 1199px) {
        display: none;
      }
    }

    section.data {
      overflow-y: hidden;
      overflow: auto;
      position: relative;
      width: calc(70% - 20px);
      margin: {
        left: 20px;
      }

      @media (max-width: 1439px) {
        width: calc(70% - 10px);
        margin: {
          left: 10px;
        }
        padding: 0 10px;
      }

      @media (max-width: 1199px) {
        position: static;
        width: 100%;
        height: 100vh !important;

        margin: {
          left: 0px;
        }
      }

      .block {
        @media only screen and (min-width: 200px) and (max-width: 1439px) {
          &:not(:first-of-type) {
            padding-top: 50px;
          }
        }
      }
    }
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  overflow: hidden;
  z-index: 0;

  svg {
    position: absolute;
    top: 0;
    height: 110vh;
    width: 100vw;
    fill: white;
  }

  .loader-container {
    .loaded {
      font-size: 1.2rem;
      font-weight: 400;
      color: black;
      text-transform: uppercase;
      letter-spacing: 8px;
      z-index: 99;

      span {
        animation: loader-animation 1s infinite alternate;

        &:nth-child(1) {
          animation-delay: 0s;
        }

        &:nth-child(2) {
          animation-delay: 0.1s;
        }

        &:nth-child(3) {
          animation-delay: 0.2s;
        }

        &:nth-child(4) {
          animation-delay: 0.3s;
        }

        &:nth-child(5) {
          animation-delay: 0.4s;
        }

        &:nth-child(6) {
          animation-delay: 0.5s;
        }

        &:nth-child(7) {
          animation-delay: 0.6s;
        }

        &:nth-child(8) {
          animation-delay: 0.7s;
        }

        &:nth-child(9) {
          animation-delay: 0.8s;
        }

        &:nth-child(10) {
          animation-delay: 0.9s;
        }

        &:nth-child(11) {
          animation-delay: 1s;
        }
      }
    }
  }
}

@keyframes loader-animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
